@import "@styles/fonts.scss";
@import "@styles/colors.scss";

@layer reset, styles;

@layer styles {
  .primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 6px;

    min-width: 120px;
    min-height: 45px;
    background: #4338CA;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: #FFFFFF;
    font-family: $font-family;
  }

  .secondary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 6px;

    min-width: 125px;
    min-height: 44px;
    background: #FFFFFF;
    border: 0.5px solid #E6E6E6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    font-family: $font-family;

    &.disabled {
      color: $neutral-600;
      font-weight: 500;
      pointer-events: none;
      box-shadow: none;
      border: none;
    }
  }
}

@layer reset {
  .button {
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
}
